.container {
    width: 100vw;
    display: flex;

    &>div.panel {
        padding: 1em;
        max-height: calc(100vh - 3em);
    }
}

.databaseList {
    background: #0f04;
    height: 100vh;

    & li {
        list-style: none;
        padding: 0.5em;
        border-bottom: 1px solid #fff5;
    }
}


$lineNumberWidth: 2em;


.history {
    font-family: 'Fira code', 'Fira Mono', monospace;
    counter-reset: line;

    & :focus {
        outline: none;
        border: none;
    }
}

.historyContainer,
.editorContainer {
    padding-left: calc(10px + $lineNumberWidth);
}

.editor {
    font-family: 'Fira code', 'Fira Mono', monospace;
    outline: 2px solid #30f;

    & :focus {
        outline: inherit;
    }
}

.historyLineNumber::before {
    position: absolute;
    right: 100%;
    margin-right: 10px;
    text-align: right;
    opacity: 0.9;
    width: $lineNumberWidth;
    user-select: none;
    counter-increment: line;
    content: counter(line);
    color: #dfd;
    background: #fff5;
}

.editorLineNumber::before {
    position: absolute;
    right: 100%;
    margin-right: 10px;
    text-align: right;
    opacity: 0.9;
    width: $lineNumberWidth;
    user-select: none;
    counter-increment: line;
    content: '>>>';
    color: #dfd;
    background: #fff5;
}

.resizeHandle {
    background-color: transparent;
    padding: 3px;

    &:hover {
        background-color: #fff5;
    }
}

button.executeButton {
    margin: 0.5em 0;
    background-color: #fff5;
    padding: 3px;

    &:hover {
        background-color: #fffa;
    }
}

span.errorDisplay {
    color: #f00;
    margin-left: 1em;
}
